@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Mochiy+Pop+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "modal-fullscreen.css";
html {
  --scrollbarBG: #ccc;
  --thumbBG: #00b3f0;
}
.is-scrolling::-webkit-scrollbar {
    width: 15px;
}
.is-scrolling{
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.is-scrolling::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.is-scrolling::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
.is-scrolling{
    overflow-y: scroll;
}
.modal-fs-control{
    padding: 10px 16px;
}
.border-left{
    border-left: 1px solid #ccc;
}
body{
    font-family: 'Open Sans' !important;
}
img{
    width: 100%;
}
.align-justify-center{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.align-center{
    display: flex;
    align-items: center;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.flex-left{
    margin-right: auto;
}
.flex-right{
    margin-left: auto;
}
.relative{
	position: relative !important;
}
.logo-title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: #000;
    font-weight: bold;
    font-family: "Mochiy Pop One";
}
.logo-title span{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.is-folded .header .logo-full{
    display: none;
}
.header .logo-part{
    display: none;
}
.is-folded .header .logo-part{
    display: flex;
}
input[type="color"]{
    min-height: 40px;
}
h1,h2,h3,h4,h5,h6{
     font-weight: 600;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}

.image-wrapper{
    width: 100%;
    aspect-ratio: 5 / 2;
    border: 1px solid #ccc;
}

.m-l-5{margin-left: 5px !important}
.m-l-10{margin-left: 10px !important}
.m-l-15{margin-left: 15px !important}
.m-l-20{margin-left: 20px !important}
.m-l-25{margin-left: 25px !important}
.m-l-30{margin-left: 30px !important}
.m-l-40{margin-left: 40px !important}
.m-l-50{margin-left: 50px !important}
.m-r-5{margin-right: 5px !important}
.m-r-10{margin-right: 10px !important}
.m-r-15{margin-right: 15px !important}
.m-r-20{margin-right: 20px !important}
.m-r-25{margin-right: 25px !important}
.m-r-30{margin-right: 30px !important}
.m-r-40{margin-right: 40px !important}
.m-r-50{margin-right: 50px !important}
.m-t-5{margin-top: 5px !important}
.m-t-10{margin-top: 10px !important}
.m-t-15{margin-top: 15px !important}
.m-t-20{margin-top: 20px !important}
.m-t-25{margin-top: 25px !important}
.m-t-30{margin-top: 30px !important}
.m-t-40{margin-top: 40px !important}
.m-t-50{margin-top: 50px !important}
.m-b-5{margin-bottom: 5px !important}
.m-b-10{margin-bottom: 10px !important}
.m-b-15{margin-bottom: 15px !important}
.m-b-20{margin-bottom: 20px !important}
.m-b-25{margin-bottom: 25px !important}
.m-b-30{margin-bottom: 30px !important}
.m-b-40{margin-bottom: 40px !important}
.m-b-50{margin-bottom: 50px !important}
.p-l-5{padding-left: 5px !important}
.p-l-10{padding-left: 10px !important}
.p-l-15{padding-left: 15px !important}
.p-l-20{padding-left: 20px !important}
.p-l-25{padding-left: 25px !important}
.p-l-30{padding-left: 30px !important}
.p-l-40{padding-left: 40px !important}
.p-l-50{padding-left: 50px !important}
.p-r-5{padding-right: 5px !important}
.p-r-10{padding-right: 10px !important}
.p-r-15{padding-right: 15px !important}
.p-r-20{padding-right: 20px !important}
.p-r-25{padding-right: 25px !important}
.p-r-30{padding-right: 30px !important}
.p-r-40{padding-right: 40px !important}
.p-r-50{padding-right: 50px !important}
.p-t-5{padding-top: 5px !important}
.p-t-10{padding-top: 10px !important}
.p-t-15{padding-top: 15px !important}
.p-t-20{padding-top: 20px !important}
.p-t-25{padding-top: 25px !important}
.p-t-30{padding-top: 30px !important}
.p-t-40{padding-top: 40px !important}
.p-t-50{padding-top: 50px !important}
.p-b-5{padding-bottom: 5px !important}
.p-b-10{padding-bottom: 10px !important}
.p-b-15{padding-bottom: 15px !important}
.p-b-20{padding-bottom: 20px !important}
.p-b-25{padding-bottom: 25px !important}
.p-b-30{padding-bottom: 30px !important}
.p-b-40{padding-bottom: 40px !important}
.p-b-50{padding-bottom: 50px !important}


.input-group-text{
    min-width: 120px;
}
.quick-view .modal-dialog{
    width: 400px !important;
}

.image_avatar{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_avatar img{
    width: 100%;
    height: auto;
}

.image-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
}
.image-list::before{
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.image-list .image-item:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}
.image-list .image-item{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}
.image-list .image-item img{
    width: 100%;
}
.image-list .image-item.item-edit{
    position: relative;
    overflow: inherit;
}
.image-list .image-item.item-edit .remove{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #ee5e61;
    background-color: #fff;
    color: #ee5e61;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card.preview{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto 1.25rem auto;
}

.modal-dialog.tab-2{
    max-width: 1000px;
}
.modal-dialog.tab-3{
    width: 100%;
    max-width: 1200px;
}

.form-group textarea{
    resize: none;
}

/*Image Upload*/
.form-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image-select-group .image-select{
    cursor: pointer;
    font-weight: bold;
}
.image-select-group input{
    display: none
}
.image-select-group .form-preview{
    width: 100%;
    border: 1px solid #edf2f9;
    border-radius: 4px;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-select-group .form-preview.multi-upload{
    min-height: 100px;
    margin: 0 -5px;
    width: auto;
    padding: 10px;
}
.image-preview-wrapper{
    width: 10%;
    float: left;
    padding: 0 5px;
}
.image-preview-wrapper .image-preview-item{
    width: 100%;
    margin: 5px 0;
    aspect-ratio: 1 / 1;
    border: 2px solid #3f87f5;
    border-radius: 5px;

    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image-preview-wrapper.prev-upload .image-preview-item{
    border: 1px dashed #86b9ff;
}
.image-preview-wrapper.image-loader .image-preview-item{
    position: relative;
}
.image-preview-wrapper.image-loader .image-preview-item .item-loader-remove{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #3f87f5;
    color: #fff;
    border: 1px solid #fff;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-select{
    padding: .55rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid #86b9ff !important;
    border-radius: 4px;
}
.dataTables_length label{
    margin: 0;
}

.image-select-group .form-preview.form_5_3{
    aspect-ratio: 5 / 3;
}
.image-select-group .form-preview.form_5_2{
    aspect-ratio: 5 / 2;
}
.image-select-group .form-preview.form_5_1{
    aspect-ratio: 5 / 1;
}
.image-select-group .form-preview.form_1_1{
    aspect-ratio: 1 / 1;
}
.image-select-group .form-preview.form_4_1{
    aspect-ratio: 4 / 1;
}
.image-select-group .form-preview.form_3_4{
    aspect-ratio: 3 / 4;
}
.image-select-group .form-preview.form_3_1{
    aspect-ratio: 3 / 1;
}
.image-select-group .form-preview.form_3_2{
    aspect-ratio: 3 / 2;
}
.image-select-group .form-preview.form_8_5{
    aspect-ratio: 8 / 5;
}

.js-errors{
    border: 1px dashed #f00;
    padding: 10px 30px;
    margin: 0 0 10px 0;
    border-radius: 4px;
}
.js-errors li{
    color: #f00;
}
.text-bold{
    font-weight: bold;
}

.header .logo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.side-nav .side-nav-inner .side-nav-menu > li > a.active{
    background-color: rgba(63,135,245,0.15);
    color: #3f87f5 !important;
}
.side-nav .side-nav-inner .side-nav-menu > li > a.active::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 2px solid #3f87f5;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.summernote .dropdown-toggle::after{
    display: none;
}
.summernote .note-editable{
    min-height: 400px;
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.slider.round.active:before {
    background-color: #52c41a;
}
.slider.round.active {
    border: 1px solid #ccc;
    background-color: #fff;
}
.slider.round.active:before {
    left: auto;
    right: 4px;
}
.view-data{
    float: left;
    margin: 0 10px 0 0;
}
.notification-group{
    position: fixed;
    max-width: 350px;
    z-index: 10060;
}
.notification-group.top-right{
    top: calc(70px + 15px);
    right: 15px;
}
.notification{
    padding: .5rem .9375rem;
    border-radius: .25rem;
}
.notification.notification-success{
    background-color: rgba(0,201,167,0.1);
    border: 1px solid rgba(0,201,167,0.15);
    color: #53535f;
}
.notification.notification-error{
    background-color: rgba(222,68,54,0.1);
    border: 1px solid rgba(222,68,54,0.15);
    color: #53535f;
}
.notification.notification-processing{
    background-color: rgba(63,135,245,0.1);
    border: 1px solid rgba(63,135,245,0.15);
    color: #53535f;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.side-nav .side-nav-inner .side-nav-menu > li > a.active{
    background-color: rgba(63,135,245,0.15);
    color: #3f87f5;
}
.side-nav .side-nav-inner .side-nav-menu > li > a.active::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 2px solid #3f87f5;
}
.note-editor.note-airframe, .note-editor.note-frame{
    border: 1px solid #86b9ff !important;
}
.note-toolbar{
    background-color: #fff;
    border-bottom: 1px solid #86b9ff !important;
}
.note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar{
    border-top: 1px solid #86b9ff !important;
}
.summernote .dropdown-toggle::after{
    display: none;
}
.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen{
    background-color: #fff;
}
.layout-border-left{
    border-left: 1px solid #ccc;
}
.layout-border-right{
    border-right: 1px solid #ccc;
}
.layout-border-top{
    border-top: 1px solid #ccc;
}
.layout-border-bottom{
    border-bottom: 1px solid #ccc;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.slider.round.active:before {
    background-color: #52c41a;
}
.slider.round.active {
    border: 1px solid #ccc;
    background-color: #fff;
}
.slider.round.active:before {
    left: auto;
    right: 4px;
}
.view-order{
    float: left;
    margin: 0 10px 0 0;
}
.count-badge-message{
    float: right;
}
.mail-list-data{
    height: 540px;
}
.mail-list.not-seed{
    background-color: #f2f2f2;
}

.classify-group{
    margin: 0 0 20px 0;
}
.classify-group .classify-item{
    position: relative;
    margin: 0 0 20px 0;
    padding: 16px;
    background: #FAF9FA;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.classify-group .classify-item .classify-remove{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.classify-group .classify-item .classify-input{
    width: 100%;
    margin: 0 0 15px 0;
}
.main-body .main-tab{
    display: none;
}
.main-body .main-tab.on-show{
    display: block;
}
.I-warehouse{

}
.I-warehouse .status-list{
    margin: 10px 0;
}
.I-warehouse .status-event{
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 0 5px 0;
}
.I-warehouse .status-event:hover,
.I-warehouse .status-event.is-select{
    background-color: #f0f0f0;
}
.warehouse-modal .item-list{
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}


.badge {
    line-height: 1.7;
    padding: 0.25em 0.7em
}
.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem
}
.badge-warning {
    color: #212529;
    background-color: #ffc107
}
.badge-info {
    color: #fff;
    background-color: #02d3ef
}
.badge-success {
    color: #fff;
    background-color: #00c9a7
}
.badge-secondary {
    color: #fff;
    background-color: #886cff
}
.badge-primary {
    color: #fff;
    background-color: #007bff
}
.badge-danger {
    color: #fff;
    background-color: #de4436
}
.badge.badge-dot {
  width: 7px;
  height: 7px;
  border-radius: 50px;
  padding: 0px;
}
.badge.badge-dot:empty{
    display: block;
}

/*Metadata */
.metadata-render{
    padding: 10px 0;
    margin: 0 0 10px 0;
    overflow: hidden;
}
.metadata-render .metadata-item{
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.metadata-render .metadata-item.data-color{
}
.metadata-render .metadata-item.data-size{
    display: flex;
    align-items: center;
    justify-content: center;
}

.metadata-render .metadata-item .remove-item{
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    color: #f00;
}
.meta-item-table{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 3px;
}
/*table custom*/
.metadata-title{
    min-width: 100px;
    display: inline-block;
}
.image-table-preview{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px dashed #3f87f5;
    border-radius: 5px;
    margin: 5px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.I-warehouse{

}
.I-warehouse .status-list{
    margin: 10px 0;
}
.I-warehouse .status-event{
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 0 5px 0;
}
.I-warehouse .status-event:hover,
.I-warehouse .status-event.is-select{
    background-color: #f0f0f0;
}
.warehouse-modal .item-list{
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.quick-view .modal-dialog.warehouse-modal-view{
    width: 800px !important;
    max-width: 800px !important;
}

